.ainvayi{
 font-family: "Montserrat";
 font-size: 72px;   
 text-transform: uppercase;
 color:orange;
}

.raahi{
 font-family: "Pacifico";
 font-size: 72px;   
 
 color:red;
}

.phir{
 font-family: "Lato";
 font-size: 72px;   
 
 color:red;
}

.chalte{
    font-family: "Permanent Marker" !important;
    color:red;
}
.chak{
    font-family: "Fredericka the Great";
    color:darkblue;
    font-weight: 700;
}
h2{
    font-family: "Poiret One" !important;
}
.chak2{
    color:green;
}
.india{
    letter-spacing: 20px;
}
.trd{
    font-size:40px;
    font-family:"Lato" !important;
    letter-spacing:20px;
    text-indent: 10px;
    font-weight: 700;
    
}